@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Koulen&family=Lato:wght@100&family=Lobster&family=Poppins:wght@100&family=Roboto:wght@100&display=swap');

*{
	box-sizing: border-box;
}

body{
	background-color: rgb(6, 26, 27);
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

.container{
	max-width: 500px;
	margin: 60px auto;
}

.container h1{
	text-align: center;
	color: white;
}

form{
	background-color: white;
	padding: 30px;
}

form .input-group{
	margin-bottom: 15px;
}

form label{
	display: block;
	margin-bottom: 10px;
}

form input{
	padding: 12px 20px;
	width: 100%;
	border: 1px solid #ccc;
}

.submit-btn{
	width: 100%;
	border: none;
	background-color: rgb(37, 83, 3);
	font-size: 18px;
	color: white;
	border-radius: 3px;
	padding: 20px;
	text-align: center;
}
